

 
/kbengine_unity3d_demo-1.1.2/Temp
/kbengine_unity3d_demo-1.1.2/UnityPackageManager
/kbengine_unity3d_demo-1.1.2/Library
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.suo
*.user
*.ncb
*.plg
*.opt
*.aps
*.aps
*.sdf
*.opensdf
*.exp
*.idb
*.ilk
*.exe
*.pdb
*.chw
*.lib
*.pdb
.log
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

*.pyc


*.o
*.d
*.a
*.s
*.lo

.gitignore.bak
